body {
    margin: 0;
    line-height: 1.1;
}

#container {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 750px
}

#header {
    width: 100%;
    padding-top: 20px;
}

#sub_header {
    text-align: right;
    font-weight: bold;
    font-size: 1.1em;
    padding-right: 20px;
    padding-bottom: 20px;
}

#main_content {
    margin: 0 auto;
    width: 100%;
    background: #FFFFFF url('images/background_content.gif');
    background-repeat: repeat-y
}

#main_content_top {
    height: 30px;
    background: #FFFFFF url('images/background_top.gif');
}

#main_content_bottom {
    height: 30px;
    background: #FFFFFF url('images/background_bottom.gif');
}

#footer {
    text-align: center;
    font-size: 0.8em;
    margin: 10px auto
}

.comments {
    margin-top: 1.2em;
}

.content {
    float: left;
    width: 510px;
    text-align: left;
    padding: 0 30px 0 30px;
    font-size: 1.0em;
}

.menu {
    width: 139px;
    float: right;
    padding: 0 20px 0 20px;
    border-left: #8C8484 1px solid;
    font-size: 0.8em;
}

.menu ul {
    margin: 0;
    padding: 10px 0 10px 15px
}

.menu il {
    list-style-type: disc
}

#header h1 {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 2.0em;
    font-weight: bold;
    color: #A40008
}

#header .website_logo {
    margin-bottom: 0px;
    padding-left: 10px;
    padding-top: 5px;
}

.content h1, .content h2, .content h3, .content h4, .content h5,
.content h6 {
    margin-top: 0px;
    font-weight: bold;
    color: #A40008
}

#clear {
    display: block;
    clear: both;
    width: 100%;
    height: 1px;
    overflow: hidden;
}

.menu_title {
    font-size: 1.3em;
    font-weight: bold;
}

.menu ul {
    margin: 0;
    padding: 10px 0 20px 15px
}

.menu li {
    padding-top: 2px;
    list-style-type: circle
}

a {
    color: #A40008;
    font-weight: bold;
    text-decoration: none
}

a:hover {
    color: #A40008;
    font-weight: bold;
    text-decoration: underline
}

a.menu_link {
    color: #000000;
    font-weight: bold;
    text-decoration: underline
}

a.menu_link:hover {
    color: #A40008;
    font-weight: bold;
    text-decoration: none
}

.quote, quote {
    margin: 20px;
    text-align: center;
    font-weight: bold;
    font-style: italic
}

span.blog_article_next {
    float: right;
}

.blog_pagination_older {
    float: right;
}